<h2 ng-show="desktop()" ng-class="{'no-show':desktop()}" resize>Cannot access this page for the desktop versions</h2>

<div class="popup center-block text-center padding0 signup">
        <a href="#/" ng-controller="modalctrl" ng-click="modelcancelling()" title="Go to Homepage" class="popup-logo hidden-xs"></a>
        <a class="close-button hidden-xs" ng-controller="modalctrl" ng-click="modelcancelling()"><span class="glyphicon glyphicon-remove"></span></a>
        <div class="text-center successlog" ng-init="SignVerify=0" ng-show="SignVerify"><img class="loader loader2" src="images/loader.gif" ng-model="loader2" ng-init="loader2=0" ng-show="loader2"/> <p>A verification link has been sent to your email ID : </p>{{successLog}}</div>
        <h2 class="popup-title" ng-show="!SignVerify">Enjoy hubs free for 5 days</h2>
        <p ng-show="!SignVerify">Join number of hubs for free for 5 days on our 5-day free trial membership. No credit card required.</p>
        <div class="relative fb-inline-block"><div class="overlay_like" ng-show="userform.checkbox.$error.required"></div>
        <div class="user-fb"  ng-show="!SignVerify" ng-click="fbsignup()">
           <img class="loader" src="images/loader.gif" ng-model="loader" ng-init="loader=0" ng-show="loader"/>
           <a href="">Sign up with <strong>Facebook</strong></a>
         </div></div>
        <p ng-show="!SignVerify" >Or sign up using your email address</p>
        <div class="text-center help-block errorlog">{{errorLog}}</div>
        
        <p class="text-center help-block errorlog" ng-show="errorLog2==1">This email is already registered with us. Please <a class='underline-error hidden-xs' ng-controller="modalctrl" ng-click="openCloseModals('Views/authentication/login.html', 'authenticationctrl', 'Login')">Login</a><a class='underline-error visible-xs' href='#/login'>Login</a>
        </p> 
        <p class="text-center help-block errorlog" ng-show="errorLog1==1">This email address is already registered with a Facebook login. <a class='underline-error' ng-click='fblogin()'>Please login with Facebook.</a>    
        </p>
        
        <form ng-show="!SignVerify" name="userform" ng-submit="signup()" role="form" class="user-form inline-width" novalidate>
            <div class="form-input-area">
            
            <div class="form-group col-sm-4 first" ng-class="{ 'has-error': userform.firstname.$invalid && userform.firstname.$touched }">
                    <input type="text" name="firstname" class="form-control" ng-model="firstname" placeholder="First name" required />
                    <span ng-show="userform.firstname.$error.required && userform.firstname.$touched" class="text-left help-block">Firstname is required</span>
                </div>
                <div class="form-group col-sm-4" ng-class="{ 'has-error': userform.email.$invalid && userform.email.$touched }">
                    <input type="email" name="email" class="form-control" ng-model="email" validate-email placeholder="Email" required />
                    <span ng-show="userform.email.$error.required && userform.email.$touched" class="text-left help-block">Email is required</span>
                    <span ng-show="userform.email.$error.email && userform.email.$touched" class="text-left help-block">Invalid Email address</span>
                </div>
                <div class="form-group password col-sm-4" ng-class="{ 'has-error': userform.password.$invalid && userform.password.$touched }">
                    <input type="password" validate-password name="password" class="form-control" ng-model="password" data-ng-trim="false" ng-minlength="6" ng-maxlength="16" placeholder="Password" required />
                    <span ng-init="toggle=0" class="glyphicon" title="Show password" ng-model="toggle" toggler ng-class="{'glyphicon-eye-open' : toggle , 'glyphicon-eye-close' :!toggle}" ></span>
                    <span ng-show="userform.password.$error.required && userform.password.$touched" class="text-left help-block">Password is required</span>
                    <span ng-show="userform.password.$touched && !valid" class="text-left help-block">Password must have one special character (like @,#,$), one number and spaces are not allowed.</span>
                    <span ng-show="userform.password.$error.minlength && userform.password.$touched || userform.password.$error.maxlength" class="text-left help-block">Password must be 6-16 characters</span>
                </div>
               
             </div>
            <div class="check-control pull-left text-left">
                <span ng-class="{ 'has-error': userform.password.$touched && userform.firstname.$touched && userform.email.$touched}"><input type="checkbox" name="checkbox" class="checkbox-control" ng-model="checkbox" required /><label>I accept the <a href="#/terms" target="_blank" class="highlight-text">Terms & Conditions</a></label></span>
            </div>
            
            <div class="form-actions pull-right" >
                   <button type="submit" ng-disabled="userform.$invalid || !valid" title="Sign Up" class="btn submit-button btn-primary relative">
                        <span>Sign up</span>
                        <div class="loader authenticate-adjust adjust div-loader" ng-model="loader2" ng-init="loader2 = 0" ng-show="loader2">
                            <img src="images/loader.gif"/>
                        </div>
                  </button>
                </div>
            </form>
        </div>
        
