*, *:before, *:after {box-sizing: border-box;}
.btn:focus,:focus{outline:none !important;}

*{margin:0; padding:0;}
html {
  position: relative;
  min-height: 100%;
}
body{
	background-color:#f6f7fb;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	 /* Margin bottom by footer height */
  	
}
/* ------------------------------------------COLOR */
.f-red{color:#ec1d23}

/* ------------------------------------------BORDER */
.bdr-n{ border:0 !important;}

/* ------------------------------------------MARGIN */
.mr-0{margin:0 !important;}
.mr-r10{margin-right:10px !important;}
.mr-t15{margin-top:30px !important;}
.mr-b20{margin-bottom:20px !important;}
.mr-b30{margin-bottom:30px !important;}
.mr-b50{margin-bottom:50px !important;}
.mr-b0{margin-bottom:0 !important;}

/* ------------------------------------------PADDING */
.pd-0{padding:0 !important;}
.pd-r30{padding-right:30px !important;}
.pd-tb-15{
	padding-top:15px !important;
	padding-bottom:15px !important;
}

.form-control{
	border-radius:0;
	height:60px;
	padding: 6px 25px;
	border-color:#ebebeb;
	box-shadow:none;
	
}
.input-lg{
	height:70px;	
	font-size:16px;
}
.form-horizontal .control-label{
	text-align:left;
	font-size:16px;
}
.form-group label{font-weight:600;}

/* ------------------------------------------BUTTON */
.btn{
	border-radius:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:900;	
	padding:15px 50px;
	border-color:transparent;
}
.btn-file {
  position: relative;
  overflow: hidden;
  padding:12px 30px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.btn-lg{
	padding: 25px 50px;
	font-size:14px;
}
.btn-sm{
	padding: 14px 25px;
	font-size:14px;
}
.btn-primary{
	background-color:#3b5998;
}
.btn-danger{
	background-color:#ec1d23 /*red color */;
}
.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger:active:hover, .btn-danger:active:focus{
    background-color: #ec1d23;
    border-color: #ec1d23;
}
.btn-success{
	background-color:#8dc53e /*green color */;
}
.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success:active:hover, .btn-success:active:focus{
    background-color: #8dc53e;
    border-color: #8dc53e;
}
.btn-black{
	background-color:#353535;
	color:#fff;
}
.btn-approve{
	background-color:#578a49 /*green color */;
}
.btn-black:hover {
  color: #fff;
}
.btn-link{color:#5b5152;}
.btn-default {
  color:#979db8;
  border:1px solid #d0d4e2;
}
.btn-black:focus{
	color:#fff;
}
/* ------------------------------------------BOOTSTRAP SELECT */
.bootstrap-select > .btn.dropdown-toggle{
	border:1px solid #ebebeb;
	padding:19px 25px;
	font-weight:normal;
}
.bootstrap-datetimepicker-widget table{
	border:1px solid #ebebeb;	
}
.bootstrap-datetimepicker-widget table thead{
	background-color:#78777d;
	color:#fff;
}
.bootstrap-datetimepicker-widget table thead tr th span.glyphicon-chevron-left:before{
	content: "\e251";
}
.bootstrap-datetimepicker-widget table thead tr th span.glyphicon-chevron-right:before{
	content: "\e250";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
	background-color:#78777d;
}
.bootstrap-datetimepicker-widget table tbody{
	background-color:#fff;
}
.bootstrap-datetimepicker-widget table thead th{
	border-radius:0;
	padding:30px 5px 15px;
}
.bootstrap-datetimepicker-widget table td span{
	display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 2px 1.5px;
    cursor: pointer;
	border-radius:50%;
	color:#000;
}
.bootstrap-datetimepicker-widget table td.day {
	border-radius:0;
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: transparent;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.day span:hover,
.bootstrap-datetimepicker-widget table td.hour span:hover,
.bootstrap-datetimepicker-widget table td.minute span:hover,
.bootstrap-datetimepicker-widget table td.second span:hover
.bootstrap-datetimepicker-widget table td.active span{
	background-color:#eee;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: transparent;
  text-shadow:none;
}
.bootstrap-datetimepicker-widget table td.active span{
	background-color:#ec1d23 !important/*red color */;
	font-weight:bolder;
	color:#fff;
}
.bootstrap-datetimepicker-widget table thead .picker-switch{
	font-size:24px;
	font-weight:600
}



/* ------------------------------------------MODAL */
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8;
}
.modal-header .close {
    font-size:30px;
	font-weight:400;
}
.modal-title{ 
	font-weight:bold;
	text-align:center;
	padding:25px;
}
.modal-content{
	border-radius:0;
}
.modal-content .info-text{
	font-size:20px;
	text-align:center;
}
.modal-footer{
	padding:0;	
}
.modal-footer .btn + .btn {
    margin: 0;
}


/* ------------------------------------------ICONS */
i[class^="ic-"], span[class^="ic-"]{
	 display:inline-block;
	 background-image:url(../images/icon_sprite.png);
	 vertical-align:middle; 
 }
 .ic-16{
	width:16px;
	height:16px;	 
 }
 .ic-bag{
	background-position:0 0;
	width:20px;
	height:26px;
 }
   .ic-bag.active{
  background-image: url("../images/bag-icon.png");
  width:20px;
	height:26px;
   }
 .ic-bag-l{
	 background-position:0 -31px;
	 width:16px;
	 height:20px;
 }
 .ic-tick{
	background-position:-25px 0;
	width:30px;
	height:20px;
 }
 .ic-trash{
	background-position:0 -56px;
}
 .ic-edit{
	background-position:0 -77px;
 }

/* ------------------------------------------INPUT ICONS */ 
 .left-inner-addon,.right-inner-addon {
    position: relative;
}
.left-inner-addon i,.right-inner-addon i{
    color:#d6d6d6;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 20px 16px;
    pointer-events: none;
	width: 2.381em;
    font-size: 1.5em;
	font-weight:bold;
	
}
.right-inner-addon input {
    padding-right: 50px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
     padding: 22px 16px;
    pointer-events: none;
}
/*---------------------------------------------- COMMON CLASSES */
.display-table{
	display:table;
	width:100%;
	 border-collapse:collapse;
}
.display-cell{
	display:table-cell;	
	vertical-align:middle;
}
.vertical-top{vertical-align:top;}
.text-dots{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
}
.inline-block{ 
	display:inline-block;
	vertical-align:middle;
	float:none
}
.dis-block{display:block}

/*---------------------------------------------- TOP HEADER */

#topHeader.navbar{
	min-height:70px;	
	margin:0;
	background-color:#fff;
	border:none;
	border-bottom:1px solid #ededed;
}
#topHeader .navbar-brand{
	min-height:70px;
}
#topHeader .navbar-toggle{
	padding:0;
	border:none;
	margin-top:22px;
	margin-bottom:22px;
}
#topHeader .navbar-toggle:hover{
	background-color:transparent;
}
#topHeader .navbar-toggle .icon-bar{
	width:40px;
	height:3px;	
	background-color:#202020;
}
#topHeader .navbar-toggle .icon-bar + .icon-bar{
	margin-top:8px;	
}

#topHeader .navbar-nav > li > a{
	padding:25px 15px;
}
#topHeader .navbar-nav > li > a{
	font-weight:800;
	color:#78777d;
}
#topHeader .navbar-nav > li.sign-login span{
	border-left: 1px solid #eeeff1;
    padding-left: 25px;
	margin: 19px 0;
	display:block;
}
#topHeader .navbar-nav > li.sign-login span a{
	border-radius: 15px;
    color: #fff;
    padding: 6px 20px 7px;
	font-size:12px;
	display:block;
}
#topHeader .navbar-header .bag{
	margin:22px 40px 22px 0;
	float:right;
}
#topHeader .navbar-nav > li.bag{
	margin:22px 0;
}
#topHeader .navbar-nav > li.bag > a{
	border-left:1px solid #eeeff1;
	border-right:1px solid #eeeff1;
	padding:0 25px;
}
#topHeader .navbar-nav > li.bag > a .ic-bag , #topHeader .navbar-header .bag a .ic-bag {
	position:relative;
}
#topHeader .navbar-nav > li.bag > a .ic-bag .badge, #topHeader .navbar-header .bag > a .ic-bag .badge{
	position:absolute;
	top:-7px;
	right:-18px;
	padding:4px 7px;
	background-color:#ec1d23 /* red color */;
}

#topHeader .navbar-nav > li.profile a {
	padding-right:0;
	padding:11px 20px 11px 20px!important;
}
#topHeader .navbar-nav > li.profile > a > span {
	margin-left:10px;
}
#topHeader .navbar-nav > li.dropdown > a .caret{
	border-top: 4px solid #ec1d23;
  
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#topHeader .navbar-nav > li.dropdown.open > a .caret{
	border-right: 4px solid #ec1d23;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
#topHeader .navbar-nav > li.active > a{
	color:#ec1d23 /* red color */;
	background-color:transparent;
}
#topHeader .navbar-nav > li > .dropdown-menu{
	padding:0;
	background-color:#231f20;
}
#topHeader .navbar-nav > li > .dropdown-menu > li{
	padding:0;
	font-size:15px;
}
#topHeader .navbar-nav > li > .dropdown-menu > li + li{
	border-top:1px solid #2e2a2b;
}
#topHeader .navbar-nav > li > .dropdown-menu > li > a{
	color:#838287;
	padding:11px 20px!important;
	background-color:#000;
	font-weight:600;
}
#topHeader .navbar-nav > li > .dropdown-menu > li > a:hover{
	color:#fff /* red color */;
	padding:20px;
	background-color:#ec1d23;
}
#topHeader .navbar-nav > li > .dropdown-menu > li.active > a{
	color:#ec1d23 /* red color */;
}
#topHeader .dropdown-menu > .active > a {
    color: #fff !important;
    background-color:#ec1d23!important;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
/*float: left;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #231f20;
  padding:29px 0;
}
/* footer styles
-------------------------------------------------- */
.footer-social-nav{
	list-style:none;	
	border-left:1px solid #2c2829;
	margin:8px 0 0 10px;
}
.footer-social-nav li{
 	float:left;
}
.footer-social-nav  li a{
 	float:left;
	background-image:url(../images/footer.png);
	width:20px;
	height:20px;
	margin:0 10px;
}
.footer-social-nav  li a.facebook{ background-position:0 -25px;}
.footer-social-nav  li a.twitter{ background-position:-25px -25px;}
.footer-social-nav  li a.instagram{ background-position:-50px -25px;}
.footer-navbar{
	margin:0;
	list-style:none;	
}
.footer-navbar li{
	display:inline-block;
	padding:0 10px;
}
.footer-navbar li a{
	color:#fff;
	font-size:13px;
	font-weight:bolder;
	padding:11px 0;
	display:inline-block;
	text-decoration:none;
}
.footer-navbar li a:hover{
	color:#fff;
}

.footer-navbar li.supplier-sign a{
	border-radius: 15px;
    color: #fff;
    padding: 6px 20px 7px;
	font-size:12px;
	background-color:#78777d;
	margin:5px 0;
}






/* ------------------------------------------Animated “x” icon for the Bootstrap navbar-toggle */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: 10% 90%;
   -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar,.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}





/* ------------------------------------------------------------------------------------ TAGS  */
.tag-wrapper{
	margin:15px 0 0;	
}
.tag-wrapper .tag{
	border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    margin: 0 5px 5px 0;
    min-height: 30px;
    vertical-align: top;
	position:relative;
}
.tag-wrapper .tag .tag-label{
	display:block;
	 padding: 0 27px 0 10px;
	 line-height:30px;
	font-weight:600;
}
.tag-wrapper .tag .tag-close {
   position:absolute;
   top:0;
   right:10px;
	line-height:30px;
	font-weight:600;
}
.tag-wrapper .tag .tag-close {
	 padding-left: 0;
	 text-decoration:none;
	 color:#000;
}
.tag-wrapper .tag .tag-close:hover {
	color:#ec1d23 /* red color */;
}

.tag-wrapper  .clear-all{
	border-radius: 3px;	
	border: 1px solid #000;
	background-color: #353535;
	height: 30px;
	padding:0 10px;
	display: inline-block;
    line-height: 30px;
	color:#fff;
	font-weight:600;
	text-decoration:none;
}

/* ------------------------------------------------------------------------------------ LOADER CSS  */
.loader-ctn{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
	display:none;
}
.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .8em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.22s;
  animation-delay: -0.22s;
}
.loader {
  text-indent: -9999em;
  position: absolute;
  top:50%;
  left:50%;
  margin:-2em 2em;
  font-size: 8px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}


/* ------------------------------------------------------------------------------------ SCROLLBAR CSS  */

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar{
	width:4px;	
}