
/* proxima_nova_rgbold */



@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/external-fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/external-fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/external-fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/external-fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/external-fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/external-fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/external-fonts/proximanova-extrabold-webfont.eot');
    src: url('../fonts/external-fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/external-fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/external-fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('../fonts/external-fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/external-fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/external-fonts/proximanova-light-webfont.eot');
    src: url('../fonts/external-fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/external-fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/external-fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/external-fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/external-fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/external-fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/external-fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/external-fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/external-fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/external-fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/external-fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/external-fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/external-fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/external-fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/external-fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/external-fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/external-fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}