.tool-tip-new{  background-color: #8dc53e;
    border-radius: 5px;
    color: #fff;
    display: none;
    margin: 0 auto;
    position: fixed;
    right: 14px;
    text-align: center;
    top: 10px;
    width: 280px;
    z-index: 10000;}
.toll-cross-btn{
    color: #fff;
    font-weight:bold;
     cursor: pointer;
    display: inline;
    height: 19px;
    position: absolute;
    right: 0;
    width: 18px;   margin-right: 10px;  margin-top: 8px; border-radius:50%; font-size: 14px;}
.tool-tip-new p{ padding: 8px 28px 2px 2px; }
    
 .tool-bottom-icon {
    border-bottom: 10px solid #8dc53e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    left: 50%;
    position: absolute;
    top: -10px;
    width: 0;  
}  
@media (max-width: 700px){
    .tool-tip-new{
    bottom: 0px;
    left: 0;
    right: 0;
    top:inherit;
    bottom:10px;
    }   
    .tool-bottom-icon{
         border-bottom: none;
        border-top: 10px solid #8dc53e;
        bottom: -10px;
        top:inherit;
    }
    
}
@media (max-width: 767px){
    
    .modal
{
    -webkit-overflow-scrolling: auto !important;
    overflow-y: auto !important;
}
    #redeemModal.modal.fade.in {
    top: 5%;
  }

    .mob-smimg {
    width: 100% !important;
}
    .voucher-info-list.list-block li .action-btn-group .btn {
    padding: 15px 10px;
        border: 0;
}
    .iconTxt{display: none;}

.voucher-info-list.list-block li .action-btn-group .btn-default:hover, .voucher-info-list.list-block li .action-btn-group .btn-default:focus, .voucher-info-list.list-block li .action-btn-group .btn-default.focus, .voucher-info-list.list-block li .action-btn-group .btn-default:active{background: none; box-shadow: none;
}
	.auth-wrapper .submit-ctn, .buy-voucher-wrapper .submit-ctn{
		padding:0 !important;
	}
	.company-section{ padding: 30px 0;}
	
	.redeem-info-list .general-info{
		border-top:1px solid #eeeff1;	
	}
	.redeem-info-list .general-info .column-common{
		padding:30px 0;	
	}
	.redeem-info-list .column-first{
		text-align:center;
		margin:30px 0;
	}
	.redeem-list .left-item{
		text-align:center;
	}
	
	/* --------------------------------------------- BUY VOUCHER */
	.buy-voucher-wrapper #datetimepicker{
		margin-bottom:20px;
	}
	.section-voucher {
    background-color: #fff;
}
    .mob_pad0{padding: 0;}
    .bord-radius{border-radius: 0;}
	 .discrip-sect{background: #f6f6f6; border: 1px solid #e3e3e3; border-top: none; overflow: hidden;}
	#company-carousel{display: none;}
	
	/* --------------------------------------------------------------------------------------------- COMPANY PAGE */
	.company-section .company-info{
		margin-top:60px;	
	}
	
	
	
	/* --------------------------------------------------------------------------------------------- FOOTER RESPONSIVE */
	body{
		margin-bottom:360px;	
	}
	
	.footer-navbar li{
		display:block;
  		text-align:center;
	}
	.footer .footer-left {
		margin-bottom:20px;
	}
       .footer {
  float: left;
  bottom: 0;
  width: 100%;
        position: static;
  background-color: #231f20;
  padding:29px 0;
}
 .footer .dropdown-menu {
   margin: auto;
    left: 0;
    max-width: 200px;
    min-width: auto;
}
.auth-wrapper{margin-bottom: 0;}
.mob-30{margin-bottom: 30px;}
.his-mob-30{margin-bottom: 30px!important;}
.table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 2px;
}
.redeem-code .inline-block{display: block;}
    .redeem-code .price{padding-top: 20px; padding-left: 0;}
   .redeem-code .redeem-info-list .column-first{margin: 0; text-align: left; padding: 0;}
   .mob-pad0{padding: 0;}
    .mar-cont{margin-bottom: 100px;}
    .column-first .general-info{padding-top: 0!important;}
    .mprd-top{margin-top: 40px;}
    .redeem-code .redeem-info-list .general-info {
    min-height: 100%!important; padding: 30px 0;
}
    .redeem-code .redeem-info-list .general-info{
		border-bottom:2px solid #eeeff1; border-top: 0;	
	}
        .payPal-ctn{
		padding-bottom:40px;	
	}
        .cart-wrapper .page-heading {
    margin: 32px 0;
    text-align: left;
}
}
@media (min-width: 320px){
	.footer .footer-left, .footer-navbar{
		display:block;
		text-align:center;
	}
	.payPal-ctn{
		padding-bottom:40px;	
	}
	
}
@media (min-width: 550px){
	#userHomeBanner .carousel-caption ul > li.name{
	font-size:42px;
	}
	#userHomeBanner .carousel-caption ul > li.price-ctn .price-info{
	font-size:76px;
	}
	#userHomeBanner .carousel-caption ul > li.price-ctn .price-info .sign{
	font-size:46px;
	
}
}

@media (min-width: 768px){
	body{
		margin-bottom:210px;	
	}
	
	/* --------------------------------------------- AUTH */
	.auth-header{
		border-bottom:1px solid #dbdbdb;
		padding-bottom:40px;
	}
	.auth-header .head-left{
		float:left;
		margin-bottom:0;
	}
	.auth-header .head-right{
		float:right;
	}
	.auth-wrapper .submit-ctn{
		margin-bottom:45px;
	}
	.list .list-item {
    	width: 50%;
 	 }
	 
	 .voucher-list .list-item .left-item{
		float:left;
		width:300px;
		margin:0 20px 0 0;	
	}
	
	#page-search #page-search-option.collapse, #catalog-filter #search-accordion.collapse{
		display:block;	
	}
	
	/* --------------------------------------------------------------------------------------------- BOOTSTRAP FORM CONTROL */
	.form-horizontal .control-label {
    padding-top: 19px;
	
	}
	/* --------------------------------------------------------------------------------------------- CART PAGE */
	.payPal-ctn{
		padding-bottom:40px;	
	}
	
	
	.redeem-wrapper .page-heading{
		text-align:center;
	}
	
	.redeem-main{
		background-color: #fff;
    	padding: 20px 15px;
    	-webkit-box-shadow: 1px 1px 1px 1px rgba(236,237,243,0.5);
	}
	
	.redeem-info-list .general-info{
		border-left:1px solid #eeeff1;	
	}
	.redeem-info-list .general-info .column-common{
		padding:15px;	
	}
	.redeem-v-code{
		padding-top:25px;	
	}
	.redeem-v-code-ctn{
		padding:80px 15px;	
	}
	
	/* --------------------------------------------- BUY VOUCHER */
	.buy-voucher-wrapper{
		padding-bottom:30px;
	}
	
	/* --------------------------------------------- SEARCH PAGE */
	.catalog-product {
    	margin: 0 0 0 250px;
	}
	.catalog-filter {
    	width: 250px;
  		float:left;
	}
	
	/* footer styles-------------------------------------------------- */
.footer-social-nav{
	margin:8px 0 0 20px;
}
	
}

@media (max-width: 1050px){ .tool-tip-new{ display:block;}}

@media (max-width: 991px){
   
	/* ---------------------------------------------------------------------------------------------USER HOMEPAGE */
	.user-dashboard .section-heading{
		margin:40px 0;	
	}
	/* ---------------------------------------------------------------------------------------------TOP HEADER */
	#topHeader .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
	}
	#topHeader .navbar-collapse {
  		border-top: 1px solid transparent;
    }
	#topHeader .navbar-toggle {
    	display: block;
	}
	#topHeader .navbar-collapse.collapse {
    	display: none !important;
    }
	#topHeader .collapse.in {
    	display: block !important;
    }
	#topHeader .navbar-header {
    	display:block;
		float:none;
	}
	#topHeader .navbar-right {
    	display:block;
    	margin: 0px -15px;
		float:none !important;
	}
	#topHeader .navbar-nav > li{
		display:block;	
		float:none;
	}
	#topHeader .navbar-nav > li.sign-login span{
		border:0;
		margin:0;
		padding:0;	
	}
	#topHeader .navbar-nav > li.sign-login span a{
		padding: 24px 15px;
		border-radius:0;
		text-align:left;
		font-weight:800;
		font-size:14px;
	}
	#topHeader .navbar-nav > li.profile a{
		background-color:#26252a;
		color:#fff;
	}
	#topHeader .navbar-nav > li + li{
		border-top: 1px solid #d8d8d8;
	}
	#topHeader .navbar-nav > li > a .caret{
		float:right;
		margin-top:8px;	
	}
	#topHeader .navbar-nav > li.bag{
		display:none;	
	}
	#topHeader .navbar-nav .open .dropdown-menu {
   	 	position: static;
    	float: none;
    	width: auto;
   		 margin-top: 0;
   	 	background-color: transparent;
    	border: 0;
    	-webkit-box-shadow: none;
    	box-shadow: none;
	}
}
@media (min-width: 899px){
	body{
		margin-bottom:170px;	
	}
}



@media (min-width: 992px){
	.navbar-right {
    	float: right !important;
    	margin-right: -15px;
	}
	.container-fluid > .navbar-collapse {
    	margin-right: 0;
    	margin-left: 0;
	}
	.navbar-toggle {
    	display: none;
	}
	.navbar-collapse.collapse {
    	display: block !important;
    	height: auto !important;
    	padding-bottom: 0;
    	overflow: visible !important;
	}
	.navbar-header {
    	float: left;
	}
	.list .list-item {
    	width: 25%;
		padding: 15px 10px;
 	 }
	 
	 /*
	.product-item.multi{
        width: 230px;
        height:153px;
    }
    */
    .product-item.multi,.product-item.multi img {
        width:300px;
        height:200px;
    }
}
@media (min-width: 1200px){
	body{
		margin-bottom:130px;	
	}
	.footer .footer-left{
		float:left;	
	}
	.footer-navbar{
		float:right;	
	}
        .auth-wrapper .submit-ctn{
		margin-bottom:15px;
	}
    .product-item.multi,.product-item.multi img {
        width:300px;
        height:200px;
    }
	
} 
@media (min-width:1600px) {
    
    .product-item.multi,.product-item.multi img {
        width: 360px;
        height:240px;
    }
    
}

@media (max-width:991px) {
    .product-item.multi {
        width:100%;
        height:auto;
        max-width:300px;
        margin-left:auto;
        margin-right: auto;
        
    }
    .product-item.multi img {
        width:300px;
        height:200px;
        position:relative;
    }
    
}

@media (max-width: 400px){
.footer-social-nav{border: 0; margin: 14px 0 0;}
#comp-profile .pd-r30{padding-right: 15px!important;}
#comp-profile .media-heading{font-size: 20px;}
    .search-cont input {
    font-size: 12px;
    padding: 6px 6px;
        width: 75%;
}
.media-middletxt {
    display: block;
    width: auto;
     margin-top: 15px;
}
    .search-cont .search-btn{font-size: 12px; width: 25%;}
   .mob-f15 {
    font-size: 15px!important;
}
.page-wrapper .page-heading{font-size: 40px;}
.termsCont h4{font-size:20px;}
/*.company-info ul.email-list li span.website {

    background-position: 0 -87px;
}*/
.search-cont .input-group .form-control {
    width: 75%;
}
.search-cont .input-group-addon{padding: 6px 4px;}
.search-cont .search-btn{padding: 14px 6px;}
}
@media (min-width: 1600px){
    .container-fluid{width: 1400px; margin: auto;}
    .lg-container{width: 1400px; margin: auto;}
}
@media (max-width: 500px){
#comp-profile .pd-r30{padding-right: 15px!important;}
#comp-profile .media-heading{font-size: 20px;}

}
