/*------------------------------AUTH CSS */
.auth-wrapper{
    margin:40px 0;	
}
.auth-header, .auth-header .head-left {
    margin-bottom:30px;
}
.auth-header .auth-title{
    color:#ec1d23 /* red color */;	
    display:inline-block;
    margin:0;
}
.auth-header .sub-title:before{
    margin: 0 20px;
    color: #ababab;
    content: "\B7";
    font-weight:bolder;
}
.auth-header .sub-title{
    display:inline-block;
    font-size:20px;
    font-weight:600;
}
.auth-header .sub-title a{
    color:#231f20;
    text-decoration:none;
}
.auth-header .sub-title a:hover{
    color:#23527c;
}

.auth-links{
    font-size:12px;
    font-weight:600;	
    display:inline-block;
    color:#5e5e5e;
    text-decoration:underline;
}
.forgot-links{
    margin:40px 0;
}

/*------------------------------FORGOT MODAL CSS */
.approve-modal .modal-content { 
    background-color:#8dc53e ;/* green color */
    color:#fff;
}
.approve-modal .modal-content .modal-body{
    padding-top:50px;	
}

/*------------------------------FORGOT MODAL CSS */
#forgotModal input{ border:none; font-size:24px}
#forgotModal .modal-content .info-text{ color: #929292;}


/*------------------------------TERMS MODAL CSS */
#termsModal .modal-body .scrollbar-macosx {
    max-height: 350px;
    overflow: auto;
	padding-right:15px;
}

/*------------------------------TUTORIAL MODAL CSS */
#tutorialModal  .modal-dialog{
    margin-top:80px;	
}
#tutorialModal .modal-body .item >img{
    width:100%;
}
#tutorialModal .modal-content{
    box-shadow:none;
    border:none;
    background-color:transparent;
}
#carousel-tutorial{
    padding-top:66px;
    overflow:hidden;
}

#tutorialModal .carousel-inner{
    overflow:visible;	
    background-color:#fff;
}
#tutorialModal .item > .item-text{
    padding:15px;
}
#tutorialModal .item .lens-zoom{
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align:center;
    margin-top:-65px;
}
#tutorialModal .item > .item-text h4{
    font-size:16px;
    font-weight:bold;
    color:#000;
}
#tutorialModal .item > .item-text p{
    color:#7f7f7f;	
}
#tutorialModal .controls-ctn{
    background-color:#5a87a6;
    text-align:center;
    padding:20px 15px;
}

#tutorialModal .controls-ctn a, #tutorialModal .controls-ctn .carousel-indicators{
    color:#fff;
    font-weight:900;
    text-decoration:none;
}
#tutorialModal .controls-ctn .carousel-indicators{
    position: static;
    width: auto;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    display:inline-block;
    margin:0;
    cursor:default;
}
#tutorialModal .controls-ctn .carousel-indicators li{
    display:none;
    border:none;
    background-color:transparent;
    text-indent:0;
    font-weight:300;
    font-size:24px;
    line-height:24px
}
#tutorialModal .controls-ctn .carousel-indicators .active{
    display:block;
    width:40px;
    height:30px
}
#tutorialModal .controls-ctn .carousel-indicators .active span{
    color:#263d4c;
}


/*-----------------------------------------------------------------------------------------------HOME PAGE USER CSS */

/*------------------------------BANNER CSS */
#userHomeBanner .carousel-indicators{
    margin-bottom:0;	
    bottom:5px;
}
#userHomeBanner .carousel-indicators li{
    width:22px;
    height:22px;
    padding:5px;
    border:2px solid transparent;
    background-color:transparent;
    text-indent:0;	
}
#userHomeBanner .carousel-indicators li span{
    width:8px;
    height:8px;
    display:inline-block;
    vertical-align:top;
    background-color:#a29f9c;
    border-radius:50%;	
}
#userHomeBanner .carousel-indicators li.active{
    border:2px solid #a29f9c;
}
#userHomeBanner .carousel-indicators li.active span{
    background-color:#ec1d23 /* red color*/
}
#userHomeBanner .item .img-wrapper{
    position:absolute;
    top:0;
    left:0; 
    right:0;
    bottom:0;
    -webkit-box-shadow: inset 0px -67px 74px -29px rgba(0,0,0,0.81);
    -moz-box-shadow: inset 0px -67px 74px -29px rgba(0,0,0,0.81);
    box-shadow: inset 0px -67px 74px -29px rgba(0,0,0,0.81);	
}
#userHomeBanner .carousel-caption{
    left:0;	
    padding-bottom:0;
    bottom:25px;
}

#userHomeBanner .carousel-caption ul{
    text-align:left;	
}
#userHomeBanner .carousel-caption ul > li{
    display:inline-block;
    vertical-align:top;
    padding:0 15px;
}
#userHomeBanner .carousel-caption ul > li.name{
    font-weight:bolder;
    font-size:20px;
    line-height:100%;
    border-right:1px solid #ec1d23;
}
#userHomeBanner .carousel-caption ul > li.price-ctn .label{
    font-size:18px;
}
#userHomeBanner .carousel-caption ul > li.price-ctn .price-info{
    font-size:24px;
    font-weight:bolder;
    line-height:84%;
    margin-bottom:0;
}
#userHomeBanner .carousel-caption ul > li.price-ctn .price-info .sign{
    font-size:20px;
    font-weight:normal;
}

/* ------------------------- SEARCH CTN*/
.search-ctn{
    background-color:#ec1d23 /* red color */;	
}
.main-search-accordion{
    background-color:#ec1d23 /* red color */;	
    display: block;
    color: #fff;
    font-size:18px;
    font-weight: bolder;
    text-decoration:none;
    padding: 25px 15px;
    border-bottom:1px solid #9e0b0f;
}
.main-search-accordion:hover, .main-search-accordion:focus{
    color:#fff;
    text-decoration:none;
}
.main-search-accordion span {
    float: right;
    font-size: 12px;
	top:6px;
}
.main-search-accordion span:before {
    content: "\e252";
}
.main-search-accordion span.up-arrow:before {
    content: "\e251";
}
.search-ctn .left-inner-addon i{
    color:#fff;	
}
.search-ctn .form-control{
    background-color:transparent;
    border:none;
    font-weight:600;
}
.search-ctn div + div {
    border-left:1px solid #f4777c;
}
.search-ctn .form-control::-webkit-input-placeholder{
    color: #fff;
}
.search-ctn .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
.search-ctn .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}


.search-ctn .form-control, .search-ctn .bootstrap-select .dropdown-toggle, .search-ctn .bootstrap-select .dropdown-toggle:hover, .search-ctn .bootstrap-select .dropdown-toggle:focus{
    color: #fff;
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.3);
    outline:none !important;
	-webkit-appearance: none;
}
.search-ctn .bootstrap-select .form-control{
    color:#000;
    height:40px;
 }
 .search-ctn .bootstrap-select .form-control:focus{
     border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
 }
.search-ctn .bootstrap-select .dropdown-toggle{
    background-color:#ec1d23 /* red color */;
    border:0;
    font-weight:600;	
    height: 70px;
    font-size: 16px;
}
.search-ctn .bootstrap-select.state .dropdown-toggle{
    padding-left:50px;
    background-image:url(../images/location-search.png);
    background-repeat:no-repeat;
}
.search-ctn .bootstrap-select .dropdown-toggle:hover, .search-ctn .bootstrap-select .dropdown-toggle:focus{
    background-color: transparent;
    border-color:transparent;
}
.search-ctn .bootstrap-select .dropdown-toggle:focus {
    outline:0 !important;
}
.search-ctn .bootstrap-select .dropdown-toggle .caret{
	border-top-color:#fff;
}
.search-ctn .bootstrap-select .dropdown-toggle .caret{
	border-top:4px solid #fff;
}
.search-ctn .bootstrap-select.dropup .dropdown-toggle .caret{
	border-bottom:4px solid #fff;
	border-top:0;
}
/* ------------------------- GIFT CATEGORY */

.list .list-item {
    float:left;
    width: 100%;
}
.gift-section img{
    width:100%;
}
.gift-section {
    position:relative;	
    transition: .3s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	opacity: 1;
}
.gift-section:hover {opacity: 0.6;}
.category-text{
    padding:20px 15px;
    font-size:24px;
    line-height:28px;
    font-weight:bolder;
    color:#fff;	
    position:absolute;
    top:0;
    left:0;
    bottom:0;
}
.category-bg-yellow{
    background-color:#ffd202;
}
.category-bg-blue{
    background-color:#34c1ff;
}
.category-bg-green{
    background-color:#2ecc71 /* green color */;
}
.category-bg-red{
    background-color:#e84c3d /* red color */;
}


/* ------------------------- COUNTRY CAROUSEL */
.country-carousel .carousel-inner > .item > img{
    width:100%;
}
.widget-carousel-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    -webkit-box-shadow: inset 0px -100px 75px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -100px 75px -1px rgba(0,0,0,0.5);
    box-shadow: inset 0px -100px 75px -1px rgba(0,0,0,0.5);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
        transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	opacity: 1;
}
.widget-carousel-bg:hover{opacity: 0.4;}
.widget-caption{transition: .3s ease-in-out;
                transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	opacity: 0.8;}
.widget-caption:hover{opacity: 1;}


.widget-carousel-bg.full{
    background:rgba(0,0,0,.5);
    box-shadow:none;
}
.widget-caption{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: left;
    padding:0 15px;
}
.widget-arrow{
    width:60px;
    height:60px;
    background:url(../images/circle-arrow.png);
    float:right;	
}
.widget-title{
    font-size:25px;
    font-weight:bolder;
    color:#fff;	
}

.section-heading {
    position: relative;
    margin: 20px 0;
    text-align: center;
    font-weight:bolder;
    color:#000;
}
.section-heading:before {
    content: "";
    display: block;
    border-top: solid 1px #dbdfee;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.section-heading span {
    background: #f6f7fb;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

/* ------------------------------------------------------------------------------------- PRODUCT VOUCHER COMMON */  
.product-item{
    position:relative;	
}
.product-item > img:not(.index){ width:100%; height: 200px;}
.product-item.multi{
    margin-bottom:20px;	
	overflow: hidden;
        height: 200px;
}
.product-item.multi:hover{
-webkit-box-shadow: 1px 1px 1px 1px #888;
    -moz-box-shadow: 1px 1px 1px 1px #888;
    box-shadow: 1px 1px 1px 1px #888;
}
.product-item.multi .full-background {
    width: 100%;
	padding:10px;
    top: -100%;
	background-color: rgba(0,0,0,0.6);
    position: absolute;
    color: #fff;
    z-index: 10;
    transition: top 0.25s ease-in-out 0s;
    left: 0;
}
.product-item.multi .full-background.hover {
   top: 0;
    height: auto;
    max-height: 100%;
}
.product-item .item-upper-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px -27px 56px 0px rgba(0,0,0,0.1);
    padding: 15px;
	 z-index: 11;
}
.product-item .item-upper-bg .media-body .media-heading{
    color:#fff;
    font-size:16px;
    font-weight:bolder;
    margin:0;	
}

/* ------------------------------------------------------------------------------------- BUY VOUCHER PAGE */

.buy-voucher-wrapper .page-title{
    font-size:36px;
    margin-top:0;
    margin:40px 0 50px;
}
.buy-voucher-wrapper .buy-voucher .price{
    color:#ec1d23 /* red color */;
    font-size:50px;
    font-weight:600;
}

/* ------------------------------------------------------------------------------------- HISTORY PAGE */
.white-bg-header{
    background-color:#fff;
    text-align:center;	
    padding:50px 0;
}
.white-bg-header .title{
    font-size:32px;
    font-weight:bolder;
    display:inline-block;	
    margin:0 40px 0 0;
}
.voucher-list + .voucher-list{
    margin-top:15px;
}
.voucher-list .list-item{
    background-color:#fff;
    border:1px solid #ecedf3;
    padding:20px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(236,237,243,0.5);

}
.voucher-list .list-item .left-item{
    display:block;	
    margin:0 0 20px 0;
}
.voucher-list .list-item .right-item{
    overflow:hidden;	
}
.voucher-info-list{
    margin-bottom:20px;	
}
.voucher-info-list li{
    display:inline-block;
    padding:0 15px;
    vertical-align:middle;	
    line-height:46px;
}
.voucher-info-list.list-block li{
    display:block;
    padding:0;
    border:none;
    line-height:100%;
}
.voucher-info-list.list-block li .action-btn-group .btn{
    padding:10px 15px;
    font-weight:600;
}
.voucher-info-list.list-block li +li{
    margin-top:25px;
}
.voucher-info-list li + li{
    border-left:1px solid #eeeff1;
}
.voucher-info-list li.price{
    font-size:46px;
    font-weight:bold;
    color:#ec1d23 /* red color */;
    padding-left:0;
}
.voucher-info-list li.phone{
    font-size:14px;
    font-weight:bolder;
    color:#000;
}
.voucher-info-list li span[class^="icon-"]{
    width:20px;
    height:22px;
    display:inline-block;
    background-image:url(../images/voucher/voucher-sprite.png);
    vertical-align:middle; 
    margin-right:10px;
}
.icon-phone{background-position:0 0;}
.icon-calendar{background-position:0 -27px;}


/* --------------------------------------------------------------------------------------------- SEARCH PAGE */
.search-wrapper{
    background-color: #fff;
}
.catalog-filter .catalog-heading{
    font-size:16px;
    font-weight:bolder;
    border-bottom:1px solid #eeeff1;
    padding:30px 15px;
    margin:0;
}
#search-accordion .accordion-ctn{
    border-bottom:1px solid #eeeff1;
    margin:0;
    box-shadow:none;
    border-radius:0;
}
#search-accordion .accordion-ctn .accordion-body{
    padding:0 15px;
}
#search-accordion .accordion-title{
    padding:25px 15px;	
    margin:0;
}
#search-accordion .accordion-title a{
    display:block;
    color:#ec1d23 /* red color */;
    font-weight:bolder;	
    font-size:14px;	
	text-decoration:none;
}
#search-accordion .accordion-title a span{
    float:right;
    font-size:12px;	
}
#search-accordion .accordion-title a.collapsed span:before{
    content: "\e252";
}
#search-accordion .accordion-title a span:before{
    content: "\e251";
}
#search-accordion .accordion-body .options li a{
    font-size:13px;
    color:#000;
    text-decoration:none;
    padding-bottom:25px;
    display:block;
}
#search-accordion .accordion-body .scrollbar-macosx {
    max-height: 250px;
    overflow: auto;
}
#search-accordion .accordion-body .options li a:hover{
    color:#ec1d23 /* red color */;
}
.catalog-product {
    position:relative;
    padding: 0 15px;
    background-color:#f6f7fb;
    overflow:hidden;
	min-height:670px;
}
.catalog-product .heading{
    color:#78777d;
    font-weight:32px;
    padding:15px 0 30px 0;
    margin:0;
}

/* --------------------------------------------------------------------------------------------- COMMON  PAGE WRAPPER */
.page-wrapper{
    font:16px 'proxima_novalight';
    background-color:#fff;
}
.page-wrapper .page-heading{
    font:50px 'proxima_nova_rgregular';
    margin:60px 0;
    border-bottom:1px solid #d6d6d6;	
    display:inline-block;
}

/* --------------------------------------------------------------------------------------------- COMPANY PAGE */
#company-carousel .owl-controls {
    display:none;	
}

.company-section{
    padding:80px 0;
    border-bottom:1px solid #efefef;
}
.company-logo-ctn .location i{
    color:#d2d2d2; 
    margin-right:10px;
}

.company-info .heading, .company-info ul.time-info li a.see-all{
    display:inline-block;
    font:18px 'proxima_novasemibold';
    border-bottom:1px solid #d6d6d6;
    color:#000;
}
.company-info ul.info-list{
    list-style:none;
    margin:0;
}
.company-info ul.info-list li{
    font:18px 'proxima_nova_rgregular';
}
.company-info ul.info-list li{
    margin-top:20px;	
}
.company-info ul.contact-info li span{
    background:url(../images/company/company-sprite.svg) no-repeat;
	width:24px;
	height:26px;
}
.company-info ul.info-list li span{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
.company-info ul.info-list li span.email{
    background-position:0 0;
}
.company-info ul.info-list li span.telephone{
    background-position:0 -29px;
}
.company-info ul.info-list li span.location{
    background-position:0 -60px;
}
.company-info ul.time-info li span.day{
    color:#ec1d23 /* red color */;
}

.section-information .heading{
    border-bottom:1px solid #d6d6d6;	
    margin:0 0 20px;
    display:inline-block;
}
.section-information .information-text{
    color:#676767;
    line-height:30px;	
/*    word-break: break-all;*/
}
.section-voucher{background-color:#fbfbfb;}
.section-voucher .info-text{
    font-size:16px;
    line-height:24px;
    color:#676767;
/*    word-break: break-all;*/
}
.section-voucher .cal-btn{
    width:30px;
    height:30px;
    color:#8dc53e /* green color */;	
    border:1px solid #c9c9c9;
    border-radius:3px;
    background-color:#fff;
    font-weight:bold;

    font-size:24px;
}
.section-voucher .count-input-wrapper{
    position:relative;
    display:inline-block;
    margin:0 10px;
}
.section-voucher .count-label{
    position:absolute;
    top:25px;
    left:25px;
    font-size:36px;
}
.section-voucher .count-input{
    background: white /* green color */;
    padding:25px 25px 25px 45px;
    border:1px solid #c9c9c9;
    width:145px;
    font-size:36px;
    color:black;
    text-align:center;
    border-radius:5px;
}

/* --------------------------------------------------------------------------------------------- FAQ PAGE */
.counter-section{
    counter-reset: section;	
}
.counter-section h2{
    margin:0;
}
.counter-section p{
    margin:30px 0 60px;
}
.counter-section h2:before{
    counter-increment: section;
    content:counter(section) ". ";
    color:#ec1d23 /* red color */;
    font-family: 'proxima_nova_rgbold';

}


/* --------------------------------------------------------------------------------------------- CART PAGE */
.cart-wrapper .page-heading{
    font:40px 'proxima_nova_rgregular';
    margin:60px 0;
    text-align:center;

}
.cart-payment-list li{
    font:14px 'proxima_nova_rgbold';
    color:#a8a9ab;
}
.cart-payment-list li + li{
    margin-top:20px;
}
.cart-payment-list li span{
    float:right;	
    font-family: 'proxima_novalight';
    color:#383838;
}
.cart-payment-list li span.voucher-price{
    font-size:34px;
}
.cart-payment-list li span.fee{
    font-size:24px;
}
.cart-payment-list li:last-child{
    border-top:1px dotted #e8e8e8;
    border-bottom:1px dotted #e8e8e8;	
    color:#383838;
    padding:10px 0;	
    line-height:44px;
}
.cart-payment-list li:last-child span{
    font-size:44px;	
}
.payPal-ctn{
    text-align:center;
    padding-top:40px;	
}
.payPal-ctn .payPal-btn-img{
    background:url(../images/payPal-button.png) no-repeat;
    width:246px;
    height:49px;
    display:inline-block;
    cursor: pointer;
}
.payPal-ctn .payPal-btn{
    background-color:#009cde;
    font-weight:bolder;
    color:#fff;
    display:block;
    font-size:30px;
    padding:30px 15px;

}
.payPal-ctn .payPal-btn span{
    display:inline-block;
    vertical-align:middle;
}
.payPal-ctn .payPal-btn span.paypal-logo{
    background:url(../images/payPal-logo.png);
    width:44px;
    height:46px;
    margin-right:15px;
}
.continue-shop{
    border-top:1px solid #d5d5d5;
    padding:30px 15px;
    text-align:center;
}
.continue-shop a{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#000;
}


/* --------------------------------------------------------------------------------------------- REDEEM PAGE */
.redeem-wrapper .page-heading{
    font:40px 'proxima_nova_rgregular';
    margin:30px 0;
}

.redeem-list .left-item{
    position:relative;
    display:block;	
}
.redeem-list .left-item > img{
    width:100%;
}
.redeem-list > .right-item{
    overflow:hidden;	
}

.redeem-info-list .column-first .price{
    font-size:45px;
    line-height:55px;
}
.redeem-info-list .column-first .cmpy-name{
    font-size:20px;
    font-weight:bold;
}
.redeem-info-list .column-first .address{
    font-size:16px;
    font-weight:300;
    color:#4b4b4b;	
}

.redeem-info-list .heading{
    font-size:15px;
    font-weight:bolder;
    margin:0 0 15px;
}
.redeem-info-list ul.info-list{
    list-style:none;	
    margin:0;
}
.redeem-info-list ul.info-list li + li{
    margin-top:10px;	
}
.redeem-info-list ul.info-list li span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.redeem-info-list ul.contact-info li span {
    background: url(../images/redeem-sprite.png);
    width: 21px;
    height: 22px;
}
.redeem-info-list ul.contact-info li a{
    color:#ec1d23 /* red color */;
    text-decoration:underline;	
}
.redeem-info-list ul.info-list li span.email {
    background-position: 0 0;
}
.redeem-info-list ul.info-list li span.mobile {
    background-position: 0 -27px;
}
.redeem-info-list ul.info-list li span.location {
    background-position: 0 -54px;
}
.redeem-info-list ul.info-list li span.web {
    background-position: 0 -79px;
}
.redeem-info-list ul.email-list li span.web {
    background-position: 0 -79px;
}
.redeem-info-list ul.time-info li span.day {
    color: #78777d;
}
.redeem-v-code .text-label{
    font-weight:bold;
    font-size:12px;
    color:#858585;	
}
.redeem-v-code-ctn{
    border-top:1px solid #eeeff1;	
    padding:30px 0;
}
.redeem-v-code .text-code{
    font-size:40px; color: #337ab7;
}
.redeem-v-code .voucher-code-ctn{
    background-color:#fff;
    padding:30px;
    display:inline-block;
}
.voucher-delete{
    display:inline-block;
    background-color:#8dc53e /* green color */;
    padding:40px;
    border-radius:50%;	
    -webkit-box-shadow: 1px 1px 25px 5px rgba(106,166,90,0.4);
    -moz-box-shadow: 1px 1px 25px 5px rgba(106,166,90,0.4);
    box-shadow: 1px 1px 25px 5px rgba(106,166,90,0.4);
}
.error_message .alert {
    margin: 0 !important;
}


.errors{color:#ec1d23;}
input.errors, textarea.errors {
    border: 1px solid #ec1d23!important;
}

.invalid-error{ color: #ec1d23;
    font-size: 20px;
    margin: 150px 0;
    text-align: center;}

.bg_none{background-image: none!important;}
.fa-youtube-play::before {
    color: #fff;
    content: "";
    font-size: 22px; 
}
.fa-linkedin-square::before {
    color: #fff;
    font-size: 22px; 
}
.bg_none{background-image: none!important;}


.navbar-nav .open .dropdown-menu {
    background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
}
.user-dropdown {
    background-color: #78777d;
    border-radius: 30px;
    margin: 0;
    padding: 12px 15px!important;
}
#topHeader .navbar-nav > li{float: left;}
.dropdown-menu {padding: 0;   min-width: 100%;}
.dropdown-menu > li {
    width: 100%;
    padding: 0;
/*    display: block!important;*/
}




.dropdown-menu > li > a{padding: 11px 20px!important; color: fff!important; display: block!important; background-color: #000!important;}
.dropdown-menu > li > a:hover{background-color: #ec1d23!important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000!important;
    color: #838287 !important;
}
.dropdown-menu{border: none;}
#topHeader .navbar-nav > li > .dropdown-menu{margin-top: -1px;}
#company-carousel .item{float: left; display: inline-block; width: 25%;}
#company-carousel .item img{width: 100%;height:233px;}
.footer-navbar .dropdown-toggle.user-dropdown{color: #fff;}
.profile .dropdown-menu li > a{color: #fff!important;}
.company-info ul.info-list li span.website{
	background-position:0 -93px;
}
#topHeader .navbar-nav > li.profile a:focus {
    color: #fff !important;
    background: #000;
}





.footer .dropdown-menu{left: auto; right: 0; padding: 0; border-radius: 0;}
.footer .dropdown-menu > li{display: block; padding: 0;}
.footer .dropdown-menu > li > a{display: block; padding: 11px;}
.info-list li{ display:none;}
.loadMore {
    margin-top: 20px;
    color: #000;
    display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
}
.loadMore:hover {
    text-decoration: underline;
}
.showLess {
     margin-top: 10px;
    color:#000;
      display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
    display:none;
}
/*.bg_none{background-image: none!important;}
.navbar-nav .open .dropdown-menu {
    background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
}
.user-dropdown {
    background-color: #78777d;
    border-radius: 30px;
    margin: 0;
    padding: 12px 15px!important;
}
#topHeader .navbar-nav > li{float: left;}
.dropdown-menu {padding: 0;   min-width: 100%;}
.dropdown-menu > li {
    width: 100%;
    padding: 0;
    display: block!important;
}
.dropdown-menu > li > a{padding: 11px 20px!important; color: fff!important; display: block!important; background-color: #000!important;}
.dropdown-menu > li > a:hover{background-color: #ec1d23!important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000!important;
    color: #838287 !important;
}
.dropdown-menu{border: none;}
#topHeader .navbar-nav > li > .dropdown-menu{margin-top: -1px;}
#company-carousel .item{float: left; display: inline-block; width: 16.6666%;}
#company-carousel .item img{width: 100%;}
.footer-navbar .dropdown-toggle.user-dropdown{color: #fff;}
.profile .dropdown-menu li > a{color: #fff!important;}
.company-info ul.info-list li span.website{
	background-position:0 -85px;
}
#topHeader .navbar-nav > li.profile a:focus {
    color: #fff !important;
    background: #000;
}
.footer .dropdown-menu{left: auto; right: 0; padding: 0; border-radius: 0;}
.footer .dropdown-menu > li{display: block; padding: 0;}
.footer .dropdown-menu > li > a{display: block; padding: 11px;}
.info-list li{ display:none;}
.loadMore {
    margin-top: 20px;
    color: #000;
    display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
}
.loadMore:hover {
    text-decoration: underline;
}
.showLess {
     margin-top: 10px;
    color:#000;
      display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
    display:none;
}*/
.bootstrap-select .dropdown-menu > li > a{background:none!important;}
.bootstrap-select .dropdown-menu > li > a:hover, .bootstrap-select .dropdown-menu > li > a:focus{background-color: #f5f5f5!important;
    color: #262626;}
textarea[name=sms_txt] {
    resize: none;
}

.map-txt{  padding-left: 20px;
    position: relative;
}
.map-marker{  left: 0;
    position: absolute;
    top: 0;}
.email-info ul.info-list li{
position: relative;
    padding-left: 40px;
    word-break: break-all;
}
.email-info ul.info-list li span{
position: absolute;
    top: 0;
    left: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{color: inherit!important; }
.full-background {
/*    word-break: break-all;*/
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background: #8cc63f!important;
    opacity: 1;
}
.email-list li{display: block;}
.company-info ul.email-list {
    list-style: outside none none;
    margin: 0;
}
.email-info ul.email-list li {
    padding-left: 40px;
    position: relative;
    word-break: break-all;
}
.company-info ul.email-list li {
    margin-top: 20px;
}
.company-info ul.email-list li {
    font: 18px "proxima_nova_rgregular";
}
.company-info ul.email-list li span.location {
    background-position: 0 -58px;
}
.email-info ul.email-list li span {
    left: 0;
    position: absolute;
    top: 0;
}
.company-info ul.email-list li span {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.company-info ul.email-list li span.website {
    background-position: 0 -93px;
}
.company-info ul.email-list li span.telephone {
    background-position: 0 -29px;
}
.company-info ul.email-list li span.telephone {
    background-position: 0 -29px;
}
#buy_voucher_form input.form-control{height: 50px;}
#buy_voucher_form .bootstrap-select > .btn.dropdown-toggle {
    padding: 13px 25px;
}

.price.visible-xs {
    padding: 0 15px;
    position: absolute;
    
}
/* reedem code page css  */

.redeem-code .price {
    color: #333;
    font-size: 60px;
    font-weight: 600;
    padding-left: 10px;
    
}
.redeem-code .redeem-v-code {padding: 0;}
.redeem-code .voucher-delete{padding: 30px;}
.redeem-code .redeem-v-code .text-label{margin-bottom: 0; letter-spacing: 1px;}
.redeem-code .redeem-v-code .text-code{ font-family: 'Open Sans', sans-serif;
	font-weight:300;}
.redeemText{ font-family:'proxima_novalight'; margin-bottom: 30px; word-break: break-all;}
.redeemText h3{color: #333; font-size: 30px;}
.redeemText p{font-size: 16px;}
.redeem-code h2{  margin-bottom: 20px; color: #333; font-size: 28px; font-family: 'Open Sans', sans-serif; font-weight: 600;}
.redeem-code .cmpy-name {
    font-size: 16px!important;
}
.column-first .general-info {    padding: 5px 15px;
}
.redeem-code .column-common {
    padding: 5px 0!important;
}
.redeem-code .redeem-info-list .heading, .redeem-code .redeem-info-list .column-first .cmpy-name{font-weight: 800;}
/*.redeem-code .info-list li{display: block;}*/
.redeem-code .redeem-info-list .general-info{min-height: 143px;}
ul.time-list {
    list-style: outside none none;
    margin: 0;
}
ul.time-list li{display: block; margin-bottom: 10px;}
ul.time-info li span.day {
    color: #78777d;
}
.time-list li span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.clsError{
    color: #ec1d23;
}
#check_merchant_pin > span {
    color: #232323;
/*    float: left;*/
    font-size: 24px;
    font-weight: bold;
/*    margin: -6px 0 0;*/
    padding: 0;
    text-align: left;
    position: absolute;
    left: 27px;
    bottom: 15px;
}
#redeemModal .btn-lg {
    padding: 22px 25px;
}
.contact-list li {
    padding-left: 37px;
    position: relative;
}
.redeem-code .email-list li{display: block!important; list-style: outside none none;
    margin: 0 0 12px;
}
.redeem-info-list ul.email-list li span.email {
    background-position: 0 0;
}
.redeem-info-list ul.email-list li span.mobile {
    background-position: 0 -27px;
}
.redeem-info-list ul.contact-info li span{position: absolute; left: 0; top: 0;}
.mr-t5{margin-top: 10px!important;}
.alert-danger {color: #a94442; background: none; border: none;}
.alert-danger ul{list-style: none;}
.alert-success{background: none; border: none;}
.auto-height
{ height: 100%;
    position: relative;}
.image-proportion{ bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;}
.bck_white{ background-color: #fff;}
.search-cont {
    width: 100%;
    height: 60px;
    position: relative;
    float: left;
    line-height: 22px;
    margin-bottom: 15px;
    
}
    .search-cont input {
        width: 100%;
        float: Left;
        height: 60px;
        font-size: 18px;
        width: 80%;
        border-radius: 6px 0 0 6px;
    }


.search-cont .search-btn {
    background: #353535;
    border: medium none;
    border-radius: 0px 6px 6px 0;
    font-size: 14px;
    height: 60px;
    line-height: 30px;
    padding: 14px 10px;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.termsCont{width: 100%; margin: 0 0 40px;}
.termsCont p{line-height: 24px; font-family: "proxima_novalight";}
.termsCont h4{
color: inherit;
    font-weight: bolder;
    margin: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}
.termsCont ul{padding: 0; margin: 20px 0 0 18px;}
.termsCont ul li{margin: 0px 0 10px; font-weight: normal;  padding-left: 10px; line-height: 24px; position: relative; color: #333;
    font-family: "proxima_novalight";}
.termsCont ul li:before {font-family: "proxima_nova_rgbold"; color: #ed1d24;}
.upperAlpha li{list-style-type: upper-alpha; color: #ed1d24!important; font-family: "proxima_nova_rgbold"!important;}
.upperAlpha li span{color: #333; font-family:'proxima_novalight'}
ul.number > li{list-style-type: number; color: #ed1d24; font-family: "proxima_nova_rgbold";}
ul.number li span{color: #333; font-family:'proxima_novalight'}
.alphaRound {list-style-type: none;   margin-top: 10px !important;}
.alphaRound li:before {content: "(" counter(section, lower-alpha) ") "; padding-right: 6px; position: absolute; left: 0; top: 0; }
.alphaRound li { counter-increment: section; padding-left: 30px!important;}

.lowerRoman { counter-reset:item;
    list-style:none; margin-top: 10px !important;}
.lowerRoman li:before {  content: "("counter(item, lower-roman) ")"; padding-right: 6px;}
.lowerRoman li { counter-increment: item;}
.number > h4 {
    margin-left: -18px;
}
.f_24{font-size: 24px;}
.redeem-voucher-list{float: left; width: 100%; margin-bottom: 60px;}

.footer-navbar .dropdown-menu > li > a{ background-color: #231f20 !important;}
.bck_grey{ background: #ccc;}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger{background: #ec1d23!important;}

.search-cont .input-group .form-control{width: 80%;}
.search-cont .input-group-addon {
    border: 1px solid #ebebeb;
}

.small-circle{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; -o-border-radius:5px;}
.copytxt{color: #fff; margin: 0;}
.mt-20 {
    margin-top:20px;
}
.mb-20 {
    margin-bottom:20px;
}
.mt-m20 {
    margin-top:-20px;
}
.enquiry-page label em {
    color:#ff0000;
}