/*------------------------------AUTH CSS */
.auth-wrapper{
	margin:0 auto;
	max-width:480px;
	padding:0 15px;	
}
.auth-wrapper.business-detail{
	max-width:700px;
}
.auth-wrapper .logo-ctn{
	margin:100px 0 40px;
}
.auth-tabs-ctn, .auth-wrapper-inner{
	background-color:#fff;
	border-radius:6px;	
}
.auth-wrapper-inner .heading{
	text-align:center;
	margin:20px 0 50px;
}
.auth-tabs-ctn .nav-tabs li{
	vertical-align:top;	
	display: table-cell;
    width: 1%;
}
.auth-tabs-ctn .nav-tabs li:first-child a{	
	border-radius:6px 0 0 0;
}
.auth-tabs-ctn .nav-tabs li:last-child a{	
	border-radius:0 6px 0 0;
}
.auth-tabs-ctn .nav-tabs li a, .auth-tabs-ctn .nav-tabs li.active a, .auth-tabs-ctn .nav-tabs li.active a:hover, .auth-tabs-ctn .nav-tabs li.active a:focus{
	border:none;
}
.auth-tabs-ctn .nav-tabs li a{
	color:#cdcdcd;
	padding: 25px 15px;
	background-color:#3a3b42;
	
}
.auth-tabs-ctn .nav-tabs li.active a{
	background-color:#fff;
	color:#292c2f;
	font-size:18px;
	padding: 23px 15px 22px;
}
.auth-tabs-ctn .tab-content, .auth-wrapper-inner{
	padding:30px;
}
.auth-tabs-ctn .tab-content .form-control, .auth-wrapper-inner .form-control{
	height:74px;
}
.auth-tabs-ctn  .auth-link-ctn{
	padding:10px 0;	
	text-align:center;
}
.auth-tabs-ctn  .auth-link-ctn .auth-link{
		font:normal 14px 'proxima_nova_rgregular';
		color:#000;
}

/*----------------------------------------------------------------------------------TERMS & CONDITION POPUP */
#termsModal .modal-body p{
	font-family: 'proxima_novalight';
	font-size:16px;
	color:#333;
}

/*----------------------------------------------------------------------------------THANKS POPUP/ CANCAL POPUP */
#thanksModal .modal-header, #cancalModal .modal-header{
	border:0;
}
#thanksModal .modal-body, #cancalModal .modal-body{
	font: 18px/35px 'proxima_novasemibold';
	color:#9c9c9f;
	text-align:center;
	padding:0 50px 50px;
}

/*----------------------------------------------------------------------------------BUSINESS DETAIL CSS */
#business-detail .upload-company-text{
    color: #bfbfbf;
    font-size: 13px;
    margin:0;
 }
#business-detail .upload-logo-ctn{
	background-color:#f3f3f3;
	border-radius:5px 60px 60px 5px;
	padding:15px;
	display:inline-block;
}
#business-detail .upload-company-btn{
	border-radius:30px;
	padding:10px;
	background-color:#f3f3f3;
	display:block;
	text-align:left;
	margin:10px 0;
}
#business-detail .upload-company-ctn .company-img ,#business-detail .upload-company-ctn .company-img-id {
	width:100%;
	height:200px;
	background-color:#000;
	border-radius:6px;
	overflow:hidden;	
	text-align:center;
	padding:10px 0;
        position:relative;
}
#business-detail .upload-company-ctn .company-img img{
	width:auto;
	height:100%;
}
#business-detail .upload-company-ctn .upload-info-label{
	color:#bfbfbf;
	font-size:12px;
	font-family: 'proxima_nova_rgregular';
}

#business-detail .upload-company-btn .upload-icon{
	background-image:url(../../images/admin-images/demo-avatar.jpg);
	background-size:cover;
	border-radius:50%;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	width:40px;
	height:40px;	
 }
#business-detail .opening-hours-ctn label{
	font:bold 12px 'Open Sans';	
	color:#5d5d5d;
}
#business-detail .selection-link{
	color:#000000;
	text-decoration:none;
	border-bottom:1px solid #cac7c7;
	margin:12px 0;
	display:inline-block;
}

.page-wrapper{padding:50px 0;}
.page-heading{
	text-align:center;
	padding:20px 0 50px;
}	
/*----------------------------------------------------------------------------------LANDING HTML CSS */
.landing-wrapper{
	font-weight:300;
	font-size:16px;
	text-align:left;
	line-height:25px;
}
.landing-top-section .heading{
	font-size:30px;
	margin:50px 0 30px;
}
.landing-top-section img{
	width:100%;
}
.landing-about-section {
	color:#221f1f;
}
.landing-about-section .heading{
	color:#221f1f;
	margin:40px 0 30px;
}
.landing-about-section .sub-heading{
	color:#221f1f;
	margin:30px 0;
	text-align:left;
}
.landing-about-section .item-list {
    padding:0;
    margin:0 0 0 18px;
	text-align:left;
}
.landing-about-section .item-list li{
	color:#ec1d23;
	font-size:15px;
}
.landing-about-section .item-list li + li{
	margin-top:15px;
}
.landing-about-section .item-list li span{
	color:#221f1f;
}

/*----------------------------------------------------------------------------------DASHBOARD CSS */

.dashboard-top-table{
	background-color:#f6f6f6;
	width:100%;
	color:#8c8c8c;
	font: 14px 'proxima_novalight';
}
.dashboard-top-table .dashboard-table-cell{
    border:1px solid #dedede;
	padding:40px 15px;
	text-align:center;
}
.dashboard-top-table .dashboard-table-cell .bold-text{
	font-size:60px;
	color:#000;
	margin:0;
}
.dashboard-top-table .dashboard-table-cell p{
	margin-bottom:5px;
}
.dashboard-top-table .plan-detail .period{
	font-size:20px;
	color:#000;
}
.dashboard-top-table .due-date .year{
	font-size:24px;
}
#carousel-dashbaord .carousel-inner{
	padding:0 50px;	
}
#carousel-dashbaord .carousel-inner .item .heading{
	color:#575757;	
}
#carousel-dashbaord .carousel-control{
	color:#8c8c8c;
	text-shadow:none;
	font-size:14px;
	width:auto;
	padding:0 25px
	
}
#carousel-dashbaord .carousel-control .fa{
	position:absolute;
	top:50%;
	left:50%;
	margin:-14px 0 0 -4px;
}
#carousel-dashbaord .carousel-control.left, #carousel-dashbaord .carousel-control.right{
	background-image:none;
	background-color:#f6f6f6;
	opacity:1;		
}
.dashboard-purchaser-section{
	padding:80px 0;	
}
.dashboard-purchaser-section .purchaser-list > li{
	padding:30px;
	font-family:'proxima_nova_rgregular';
	border-bottom:1px solid #eaeaea;
	
}
.dashboard-purchaser-section .purchaser-list > li > ul{
	display:table;
	border-collapse:collapse;
	width:100%;
}
.dashboard-purchaser-section .purchaser-list > li > ul >li{
	display:table-cell;
   	vertical-align:middle;
	float:none;
}
.dashboard-purchaser-section .purchaser-list li.header{
	background-color:#f3f3f3;
	font-size:18px;
	border-radius:6px;
	color:#868686;
	border-bottom:none;
}
.dashboard-purchaser-section .purchaser-list .purchaser{
	font-size:18px;
	color:#000;
}
.dashboard-purchaser-section .purchaser-list .redeem-col{
	display:none;	
}
.dashboard-purchaser-section .purchaser-list .redeem-date{
	color:#a2a2a2;
	font-size:14px;
	margin:0;
}
.dashboard-purchaser-section .purchaser-list .price{
	font: 30px 'proxima_novalight';
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{font-weight: normal;}
textarea.form-control {
    resize: none;
}

.btn-lgout{background: #35393c; border-radius: 15px; color: #fff; font-weight: 600; padding: 5px 27px !important;}
.btn-lgout:hover, .btn-lgout:focus{background: #35393c!important;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 100%;}
.edit-icons {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 10px;
    width: 34px;
    z-index: 2;
}
.edit-icons.edit-store {
  width:auto;  
  right:10px;
}
.edit-icons.edit-store a {
    background-color: #eb1c22;
    color:#fff; 
    font-weight:normal;
}
.edit-icons.edit-store a i.fa:before {
    color:#fff;
}
.fa-edit::before, .fa-pencil-square-o::before {
    color: #eb1c22;
    font-size: 18px;
}
.input-edit{ padding: 6px 40px 6px 20px!important;}
.fa-youtube-play::before {
    color: #fff;
    content: "";
    font-size: 22px;
}
.bg_none{background-image: none!important;}
.navbar-nav .open .dropdown-menu {
    background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
}
#topHeader .navbar-nav > li{float: left;}
.img-error{padding-top: 0!important; color: red; font-size: 16px; padding-left: 18px;}
a.close-img {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 18px;
    position: absolute;
    right: 16px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    top: -2px;
    z-index: 1000;
}
.bootstrap-select .btn-default {
    color:#555!important;
}
.red-col{color: #eb1c22;}
.auth-link{margin-bottom: 0;}
.pad-top0{padding-top: 0!important;}

.approve-modal .modal-content {
    background-color: #8dc53e;
    color: #fff;
}
.bdr-n {
    border: 0 none !important;
}
.approve-modal .modal-content .modal-body {
    padding-top: 50px;
}
.approve-modal .modal-content .info-text {
    font-size: 20px;
    text-align: center;
}
.approve-modal .modal-header{padding: 15px;}
.approve-modal .modal-header .close{background: none;}
.btn-approve {
    background-color: #578a49;
}
.approve-modal i[class^="ic-"], span[class^="ic-"] {
    background-image: url("../../images/admin-images/icon_sprite.png")!important;
}
.approve-modal .btn{padding: 15px 50px;}

.reset-cont .panel-body{padding: 30px 40px;}
.reset-cont .panel-heading{padding: 15px;}
.errors {color:#900; border-color: #900;}
.alert-danger {color: #a94442; background: none; border: none;}
.alert-danger ul{list-style: none;}
input.errors{color: #000!important;}

.vouchar-preview {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #dfdfdf;
    color: #7f7f7f;
    font-family: "proxima_novalight";
    font-size: 36px;
    font-weight: normal;
    padding: 18px;
    text-align: center;
    width: 135px;
}
.range-value {
    color: #000;
    font-size: 18px;
    opacity: 0.5;
    padding: 6px 0;
    text-align: center;
}
.pos-rel{position: relative;}
.cancel-txt {
    color: red !important;
    font-size: 12px;
    position: absolute;
    right: 18px;
    top: 18px;
}
.inc-amt{margin-top: 108px;}
.amt-btn{margin-bottom:20px; overflow: hidden;}
.navbar-nav .open .dropdown-menu {
    background-color: #383b3e; border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute; padding: 0; border-radius: 0; left: auto; right: 0;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #eb1c22;
    color: #fff!important;
}
.dropdown-menu > li > a{color: #fff!important;    padding: 8px 20px;}
.pad_0{padding: 0!important;}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    color: #555;
}
.see-all {color: #000;  font: 18px "proxima_novasemibold"; border-bottom: 1px solid #d6d6d6;}
.info-list li{ display:none;}
.info-list-basic li{ display:none;}
.loadMore {
    margin-top: 20px;
    color: #000;
    display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
}
.loadMore:hover {
    text-decoration: underline;
}
.showLess {
     margin-top: 10px;
    color: #000;
      display: inline-block;
    font: 18px "proxima_novasemibold";
    cursor:pointer;
    display:none;
}
.showLess:hover {
    text-decoration: underline;
}

#topHeader .navbar-nav > li a.user-dropdown:hover,#topHeader .navbar-nav > li a.user-dropdown:focus{color:#fff!important;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background: #8cc63f!important;
    opacity: 1;
}
.logo-info{ color: #bfbfbf;
    font-size: 13px;
    margin-top: 10px;}
.dropdown-menu > li.top-menu{
    display: none!important;
}
.ld-pad{padding: 0;}
.wd-246{ width: 246px;}
.alert-success{background: none; border: none;}
.home-btn{margin-top: 22px; text-align: center; font-family:'proxima_nova_rgregular';}
.home-btn .fa.fa-home {
    font-size: 26px; margin-right: 6px;
}
.home-btn a{  background: #fcfcfb;
    border-radius: 6px;
    color: #8dc53e;
    font-size: 18px;
  display: inline-block;
    padding: 10px 25px; text-transform: uppercase;}
.termsCont{width: 100%; margin: 0 0 40px; font-family:  "proxima_novalight"; font-size: 16px;}
.termsCont p{line-height: 24px;}
.termsCont h4{
color: inherit;
    font-weight: bolder;
    margin: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}
.termsCont ul{padding: 0; margin: 20px 0 0 25px;}
.termsCont ul li{margin: 0px 0 10px; font-weight: normal;  padding-left: 10px; line-height: 24px; position: relative; color: #333;
    font-family: "proxima_novalight";}
.termsCont ul li:before {font-family: "proxima_nova_rgbold"; color: #ed1d24;}
.upperAlpha li{list-style-type: upper-alpha; color: #ed1d24!important; font-family: "proxima_nova_rgbold"!important;}
.upperAlpha li span{color: #333; font-family:'proxima_novalight'}
ul.number > li{list-style-type: number; color: #ed1d24; font-family: "proxima_nova_rgbold";}
ul.number li span{color: #333; font-family:'proxima_novalight'}
.alphaRound {list-style-type: none;   margin-top: 10px !important;}
.alphaRound li:before {content: "(" counter(section, lower-alpha) ") "; padding-right: 6px; position: absolute; left: 0; top: 0; }
.alphaRound li { counter-increment: section; padding-left: 30px!important;}

.lowerRoman { counter-reset:item;
    list-style:none; margin-top: 10px !important;}
.lowerRoman li:before {  content: "("counter(item, lower-roman) ")"; padding-right: 6px;}
.lowerRoman li { counter-increment: item;}
.number > h4 {
    margin-left: -18px;
}
/*#termsCondition{padding: 0;}*/
#termsCondition .page-heading {
    border-bottom: 1px solid #d6d6d6;
    display: inline-block;
    font: 50px "proxima_nova_rgregular";
    margin: 60px 0;
    padding: 0;
}



/* contact us css*/
#innerContact{
    
}
#innerContact .page-heading{
    font:50px 'proxima_nova_rgregular';
    margin:0 0 60px 0;
    border-bottom:1px solid #d6d6d6;	
    display:inline-block;
    padding: 0;
}
#innerContact {
    font: 16px "proxima_novalight";
}
#innerContact .company-section {
    padding: 80px 0;
}
#innerContact .company-section{
    padding:80px 0;
}
#innerContact .company-logo-ctn .location i{
    color:#d2d2d2; 
    margin-right:10px;
}

#innerContact .company-info .heading, #innerContact .company-info ul.time-info li a.see-all{
    display:inline-block;
    font:18px 'proxima_novasemibold';
    border-bottom:1px solid #d6d6d6;
    color:#000;
}
.company-info ul.info-list{
    list-style:none;
    margin:0;
}
.company-info ul.info-list li{
    font:18px 'proxima_nova_rgregular';
}
#innerContact .company-info ul.info-list li{
    margin-top:20px;	
}
#innerContact .company-info ul.contact-info li span{
    background:url(../../images/admin-images/company-sprite.svg);
    width:24px;
    height:24px;
}
#innerContact .company-info ul.info-list li span{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
#innerContact .company-info ul.info-list li span.email{
    background-position:0 0;
}
#innerContact .company-info ul.info-list li span.telephone{
    background-position:0 -29px;
}
#innerContact .company-info ul.info-list li span.location{
    background-position:0 -56px;
}
#innerContact .company-info ul.time-info li span.day{
    color:#ee5e7d /* red color */;
}
/* --------------------------------------------------------------------------------------------- FAQ PAGE */
#innerContact .counter-section{
    counter-reset: section;	
}
#innerContact .counter-section h2{
    margin:0;
}
#innerContact .counter-section p{
    margin:30px 0 60px;
}
#innerContact .counter-section h2:before{
    counter-increment: section;
    content:counter(section) ". ";
    color:#ec1d23 /* red color */;
    font-family: 'proxima_nova_rgbold';

}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.supplierImg img{width: 100%;}
.brd_0 {border: 0 !important; }
.dashboard-table-cell.plan-detail, .dashboard-table-cell.due-date {
    position: relative;
}
.left-arrow {
    left: 10px;
    position: absolute;
    top: 45%;
}

.right-arrow {
    right: 14px;
    position: absolute;
    top: 45%;
}
.left-arrow a, .right-arrow a{color: inherit;}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-left: 23px;    
}
.right-inner-addon span {
    position: absolute;
    left: 0px;
    padding: 15px 12px;
    pointer-events: none;
}
.copytxt{color: #fff; margin: 0;}
.center-part{text-align:center;}
.footer-last-section { background:url("../../images/admin-images/footer-last-bg.jpg") repeat-x; padding:44px 0;}
.back-btn{ font-size:18px; color:#fff; display:block;}
.back-btn:hover{color:#fff;}
.submit-pay {
    background-color: #fff;
    color: #333;
    border:2px solid #019cde;
    border-radius: 4px;
    padding: 12px;
    text-transform: uppercase;
}