*, *:before, *:after {box-sizing: border-box;}
.btn:focus,:focus{outline:none !important;}
*{margin:0; padding:0; }
html {
  position: relative;
  min-height: 100%;
}
body{
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	color:#221f1f;
	    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  label{
	font-family: 'proxima_nova_rgregular'; 
	font-weight:normal;
  }
  .form-group label{
		font-size:18px;  
  }
.bg-grey{ background-color:#d9d9d9;}
.bg-grey-login{ background:url(../../images/admin-images/login-bg.png)no-repeat right bottom #d9d9d9;}

.form-control{
	height:50px;
	background-color:#f0f0f0;
	border-color:#e5e5e5;	
	box-shadow:none;
	padding:6px 20px;
}
.form-control-static {
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-group-addon{
	background-color:#575a6e;
	border-color:#575a6e;	
	padding: 6px 32px;
}
/*---------------------------------------------- COMMON CLASSES */
	.r-blr-6{
		border-bottom-left-radius:6px !important;	
		border-bottom-right-radius:6px !important;	
	}
	.inline-block {
    	display: inline-block;
    	vertical-align: middle;
    	float: none;
	}
	.country-pin{
		font-size:28px;
		color:#575757;
		letter-spacing:3px;	
/*                padding: 0;*/
	}

/* ------------------------------------------MARGIN */
.mr-0{margin:0 !important;}
.mr-l-10{margin-left:10px !important;}
.mr-b20{margin-bottom:20px !important;}
.mr-b30{margin-bottom:30px !important;}


/* ------------------------------------------PADDING */
.pd-tb-30{
	padding-top:30px !important;
	padding-bottom:30px !important;
}

/* ------------------------------------------ICONS */
i[class^="ic-"], span[class^="ic-"]{
	 display:inline-block;
	 background-image:url(../../images/admin-images/icon-sprite.png)!important;
	 vertical-align:middle; 
 }
 .ic-16{
	width:16px;
	height:16px;	
 }
 .ic-user{
	background-position:0 0;
 }
 .ic-key{
	background-position:0 -21px;
 }
 .ic-upload{
	background:url(../../images/admin-images/demo-avatar.jpg) !important;
	background-size:cover;
	width:40px;
	height:40px;	 
 }
 
 /* ------------------------------------------BUTTON */
 .btn{
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	border-color:transparent;
}
.btn-file {
  position: relative;
  overflow: hidden;
  padding:12px 20px;
  color:#3a3b42;
  font-weight:600;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
 .btn-lg{
	font-size:14px; 
	padding:15px 16px; 
 }
 
.btn-success{
	background-color:#8dc53e /*green color */;
}
.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success:active:hover, .btn-success:active:focus{
    background-color: #8dc53e;
    border-color: #8dc53e;
}
.btn-danger{
	background-color:#ec1d23 /*red color */;
}
.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger:active:hover, .btn-danger:active:focus{
    background-color: #ec1d23;
    border-color: #ec1d23;
}

/* ------------------------------------------MODAL */
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8;
}
.modal-header{
	padding:40px;	
}
.modal-header .close {
    background:url(../../images/admin-images/modal-cross.png) 0 0  no-repeat;
	width:26px;
	height:26px;
}
.modal-title{ 
	font:18px/25px 'proxima_novasemibold';
	text-align:center;
}
.modal-body {
    padding: 30px;
}
.modal-footer{
	padding:0;
	border:none;	
}
.modal-footer .btn + .btn {
    margin: 0;
}
.modal-footer .btn-fixed-bottom{
	border-radius:0 0 6px 6px;
	padding-top:25px;
	padding-bottom:25px;	
}



.bootstrap-select .btn-default{
	    border-color: #e5e5e5;
		border-radius: 4px;
	    background-color: #f0f0f0;
		padding:14px 20px;
		font-family: 'Open Sans', sans-serif;
}
.bootstrap-select .btn-default .caret{
	border-top-color:#ababab;
}


#topHeader.navbar{
	min-height:100px;	
	margin:0;
	background-color:#292c2f;
	border:none;
	border-radius:0;
	border-bottom:0px solid #ededed;
}
#topHeader .navbar-brand{
	min-height:100px;
	float: left;
    padding: 30px 15px;
}
#topHeader .navbar-nav{
	margin:0;	
	float:right;
}
#topHeader .navbar-header{
	float:left;	
}
#topHeader .navbar-nav > li{
	margin:25px 0;
	 color: #fff;
}
#topHeader .navbar-nav > li + li{
	margin-left:40px;
}
#topHeader .navbar-nav > li > a{
	color: #fff;
	margin:10px 0;
	padding:5px;
}
#topHeader .navbar-nav > li.active a{
	color:#eb1c22;
/*	border-bottom:1px solid #6e6969;*/
	background-color:transparent;
}
#topHeader .navbar-nav > li a.user-dropdown{
	border-radius:30px;
	background-color:#383b3e;	
        padding:12px 15px;
	margin:0;
}
#topHeader .navbar-nav > li a.user-dropdown .user-icon{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#ccc;
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;	
}
#topHeader .navbar-nav > li a.user-dropdown .user-icon img{
	width:100%;
}
#topHeader .navbar-nav > li.sign-login span, div.sign-login span{
	display:block;
	margin:5px 0;
}
#topHeader .navbar-nav > li.sign-login span a, div.sign-login span a{
	border-radius: 20px;
    color: #fff;
    padding: 12px 30px 11px;
	font-size:12px;
	display:block;
	background-color:#8dc53e;
	font-weight:bolder
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
   position: absolute;
 bottom: 0;  
  width: 100%;
/*  float: left;*/
  /* Set the fixed height of the footer here */
  background-color: #231f20;
  padding:29px 0;
}
/* footer styles
-------------------------------------------------- */
.footer-social-nav{
	list-style:none;	
	border-left:1px solid #2c2829;
	margin:8px 0 0 20px;
}
.footer-social-nav li{
 	float:left;
}
.footer-social-nav  li a{
 	float:left;
	background-image:url(../../images/admin-images/footer.png);
	width:20px;
	height:20px;
	margin:0 10px;
}
.footer-social-nav  li a.facebook{ background-position:0 -25px;}
.footer-social-nav  li a.twitter{ background-position:-25px -25px;}
.footer-social-nav  li a.instagram{ background-position:-50px -25px;}
.footer-navbar{
	margin:0;
	list-style:none;	
}
.footer-navbar li{
	display:inline-block;
	padding:0 10px;
}
.footer-navbar li a{
	color:#fff;
	font-size:13px;
	font-weight:bolder;
	padding:11px 0;
	display:inline-block;
	text-decoration:none;
}
.footer-navbar li a:hover{
	color:#fff;
}

.footer-navbar li.supplier-sign a{
	border-radius: 15px;
    color: #fff;
    padding: 6px 20px 7px;
	font-size:12px;
	background-color:#78777d;
	margin:5px 0;
}



/* CHECKBOX BUTTON
-------------------------------------------------- */
.ck-button {
    margin-bottom:10px;
   	overflow:auto;
}
.ck-button label{
	margin:0;
	display:block;
	cursor:pointer;
}
.ck-button label .ck-btn{
    text-align:center;
    padding:15px 20px;
	border:1px solid #e5e5e5;
	border-radius:25px;
	 background-color:#fff;
    display:block;
	font-size:14px;
}
.ck-button label .ck-btn .check-tick {
  	background:url(../../images/admin-images/tick-sprite.png) 0 0 no-repeat ;
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:12px;	
	margin-left:10px;
}

.ck-button label input {
    display:none;
}

.ck-button input:checked + .ck-btn {
    background-color:#8cc63f;
    color:#fff;
}
.ck-button input:checked + .ck-btn .check-tick{
	background-position:0 -17px;	
}
 .mob-tooltip{display: none;}


div.tolltip-inner {
    max-width: 350px;
}

.ok_model{border-bottom: 0!important; padding: 25px 40px!important;}
.ok-btn{padding: 16px 12px; border-radius: 0 0 4px 4px!important; width:100%;}
.btn-sm{
	padding: 14px 25px;
	font-size:14px;
}
.btn-default {
  color:#979db8;
  border:1px solid #d0d4e2;
}
/* ------------------------------------------ICONS */
i[class^="ic-"], span[class^="ic-"]{
	 display:inline-block;
	 background-image:url(../../images/admin-images/icon_sprite.png);
	 vertical-align:middle; 
 }
 .ic-16{
	width:16px;
	height:16px;	 
 }
 .ic-bag{
	background-position:0 0;
	width:20px;
	height:26px;
 }
 .ic-bag-l{
	 background-position:0 -31px;
	 width:16px;
	 height:20px;
 }
 .ic-tick{
	background-position:-25px 0;
	width:30px;
	height:20px;
 }
 .ic-trash{
	background-position:0 -56px;
}
 .ic-edit{
	background-position:0 -77px;
 }

/* ------------------------------------------MODAL */
#forgotModal .modal-header{padding: 15px;}
#forgotModal .modal-header .close {
    font-size:30px;
	font-weight:400;
        background: transparent!important;
}
#forgotModal .modal-title{ 
	font-weight:bold;
	text-align:center;
	padding:25px;
}
#forgotModal .modal-content{
	border-radius:0;
}
#forgotModal .modal-content .info-text{
	font-size:20px;
	text-align:center;
        color: #929292;
}
#forgotModal .modal-footer{
	padding:0;	
}
#forgotModal .modal-footer .btn + .btn {
    margin: 0;
}

#forgotModal .form-control {
    background-color: #fff;
}
#forgotModal .btn{border-radius: 0;}
#forgotModal input{font-size: 24px; border: none;}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotation {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.img-loader-ctn{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    text-align:center;
    background-color:rgba(255,255,255,.8);
    display:block;
    
   }
   .img-spinner{
       line-height: 100px;
       -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
       
   }
/* ------------------------------------------------------------------------------------ LOADER CSS  */
.loader-ctn{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
	display:none;
}
.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .8em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.22s;
  animation-delay: -0.22s;
}
.loader {
  text-indent: -9999em;
  position: absolute;
  top:50%;
  left:50%;
  margin:-2em 2em;
  font-size: 8px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #000;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #000;
    height: 5em;
  }
}