


@media (max-width: 1200px){
    .ld-pad{padding: auto!important;}
.page-wrapper {
    padding-bottom: 168px;
}
.body-suplier{
		margin-bottom:40px;	
	}
 }
 @media (max-width: 992px){
     
  .tool-tip-new{ display:block;}   
     
 }
@media (max-width: 400px){
#topHeader .navbar-nav > li {
    margin: 32px 0;
} 
#topHeader .navbar-nav > li.sign-login span a {
    font-size: 9px;
    padding: 14px 8px 11px;
}
}
@media (max-width: 767px){
    body{cursor: pointer;}
	/* --------------------------------------------------------------------------------------------- FOOTER RESPONSIVE */
/*	body{
		margin-bottom:360px;	
	}*/
.company-section{ padding: 30px 0;}
     .mrg-auto{margin: auto;}
	.login-page{margin-bottom: 100px;}
	.footer-navbar li{
		display:block;
  		text-align:center;
	}
	.footer .footer-left {
		margin-bottom:20px;
	}
         .mar_lr15{margin: 0 15px!important;}
         .country-pin{margin-top: -8px;}
         .mob-tooltip{display: inline-block!important;}
         #topHeader .navbar-nav > li + li {
    margin-left: 10px;
}
.inc-amt{margin: 0;}
#company-carousel{display: none;}
.upload-company-ctn {
    margin-bottom: 15px;
}
#topHeader .navbar-nav > li.sign-login span {
    margin: 5px 0 5px 10px;
}
.company-section .company-info {
    margin-top: 60px;
}
.page-wrapper{padding: 10px 0;}
.dropdown-menu > li.top-menu {display: block!important; }
.top-admin {display: none!important; }
.page-wrapper {
    padding-bottom: 347px;
}
.landing-top-section .heading {
    font-size: 24px;
    margin: 30px 0;
}

}
@media (min-width: 320px){
	.footer .footer-left, .footer-navbar{
		display:block;
		text-align:center;
	}
}
@media (min-width: 768px){
	.form-horizontal .control-label{
		text-align:left;
		padding-top:12px;
	}
	
	/*DASHBOARD CSS */
	.dashboard-top-table{
		display:table;
		border-collapse:collapse;
	}
	.dashboard-top-table .dashboard-table-cell{
    	display:table-cell;
   		vertical-align:middle;
		width:33.33%;
	}
	.dashboard-purchaser-section .purchaser-list .redeem-col{
		display:table-cell;	
	}
	.dashboard-purchaser-section .purchaser-list .purchaser .redeem-date{
	display:none;
}
}
@media (min-width: 1200px){
	body{
		margin-bottom:100px;	
	}
	.footer .footer-left{
		float:left;	
	}
	.footer-navbar{
		float:right;	
	}
	
}
 @media (max-width: 400px){
  .play_pal_btn{ width: 90%;}

#topHeader .navbar-brand{min-height: auto;}
.footer-social-nav{border: 0; margin: 14px 0 0;}
.auth-tabs-ctn .nav-tabs li.active a{font-size: 15px;}
/*#topHeader .navbar-nav{float: left;}*/
.reset-cont .panel-body{padding: 30px;}
.reset-cont .form-control{font-size: 11px;  padding: 6px 10px;}
.page-wrapper {
    padding-bottom: 387px;
}
.media-middletxt {
    display: block;
    width: auto;
    margin-top: 15px;
}
#termsCondition .page-heading{font: 40px "proxima_nova_rgregular";}
.termsCont h4{font-size: 20px;}
  .page-wrapper{ padding-bottom:348px !important;}
}
@media (min-width: 1600px){
    .container-fluid{width: 1400px; margin: auto;}
    .lg-container{width: 1400px; margin: auto;}
}
 