.topbar-main .navbar-right {margin-right:0;}
#topbar .navbar-top-links li:last-child {margin: 0; }
@media only screen and (max-width: 1000px) {
    /* Responsive hide columns table */
.hide-columns table td:nth-child(2), .hide-columns table th:nth-child(2) {
    display: none;
}
    /* End Responsive hide columns table */
    
    /* Responsive scroll columns table */
.scroll-columns .cf::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.scroll-columns * html .cf {
}
.scroll-columns .scroll-columns table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.scroll-columns td, .scroll-columns th {
    margin: 0;
    vertical-align: top;
}
.scroll-columns table {
    display: block;
    position: relative;
    width: 100%;
}
.scroll-columns thead {
    display: block;
    float: left;
}
.scroll-columns tbody {
    display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: auto;
}
.scroll-columns thead tr {
    display: block;
}
.scroll-columns th {
    display: block;
    text-align: right;
}
.scroll-columns tbody tr {
    display: inline-block;
    vertical-align: top;
}
.scroll-columns td {
    display: block;
    min-height: 1.25em;
    text-align: left;
}
.scroll-columns th {
    border-bottom: 0 none;
    border-left: 0 none;
}
.scroll-columns td {
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}
.scroll-columns tbody tr {
    border-left: 1px solid #dfe8f1;
}
.scroll-columns td:last-child, .scroll-columns th:last-child {
    border-bottom: 1px solid #dfe8f1;
}
    /* EndResponsive scroll columns table */
    
    /* Responsive remove columns table */
.remove-columns .table td, .remove-columns .table th, .remove-columns .table tr, .remove-columns table, .remove-columns tbody, .remove-columns thead {
    display: block;
}
.remove-columns thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.remove-columns .table tr {
    border: 1px solid #dfe8f1;
}
.remove-columns .table td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding-left: 50%;
    position: relative;
    text-align: left;
    white-space: normal;
}
.remove-columns .table td::before {
    content: attr(data-title);
    font-weight: 700;
    left: 6px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 6px;
    white-space: nowrap;
    width: 45%;
}
    /* End Responsive remove columns table */
}

@media only screen and (max-width: 810px) {
    /* Responsive hide columns table */
.hide-columns table td:nth-child(4), .hide-columns table td:nth-child(7), .hide-columns table td:nth-child(8), .hide-columns table th:nth-child(4), .hide-columns table th:nth-child(7), .hide-columns table th:nth-child(8) {
    display: none;
}
    /* End Responsive hide columns table */
}
